<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
	version="5.0">
	
  <display-name>groupeA5</display-name>
  <welcome-file-list>
    <welcome-file>home.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <security-constraint>
        <display-name>Secretary Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Secretary Area</web-resource-name>
            <description></description>
            <url-pattern>/Attribution/*</url-pattern>
            <url-pattern>/AA/*</url-pattern>
            <url-pattern>/Departement/*</url-pattern>
            <url-pattern>/Enseignant/*</url-pattern>
            <url-pattern>/Mission/*</url-pattern>
            <url-pattern>/Section/*</url-pattern>
            <url-pattern>/UE/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>S</role-name>
            <role-name>DDE</role-name>
            <role-name>DDOM</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
<!--     <security-constraint> -->
<!--         <display-name>Department director Pages</display-name> -->
<!--         <web-resource-collection> -->
<!--             <web-resource-name>Protected Secretary Area</web-resource-name> -->
<!--             <description></description> -->
<!--             <http-method>GET</http-method> -->
<!--             <http-method>POST</http-method> -->
<!--             <http-method>HEAD</http-method> -->
<!--             <http-method>PUT</http-method> -->
<!--             <http-method>OPTIONS</http-method> -->
<!--             <http-method>TRACE</http-method> -->
<!--             <http-method>DELETE</http-method> -->
<!--         </web-resource-collection> -->
<!--         <auth-constraint> -->
<!--             <description/> -->
<!--             <role-name>DDE</role-name> -->
<!--             <role-name>DDOM</role-name> -->
<!--         </auth-constraint> -->
<!--         <user-data-constraint> -->
<!--             <transport-guarantee>NONE</transport-guarantee> -->
<!--         </user-data-constraint> -->
<!--     </security-constraint> -->
    <security-constraint>
        <display-name>Domain director Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Secretary Area</web-resource-name>
            <description></description>
            <url-pattern>/Utilisateur/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>DDOM</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>groupeA5Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginerror.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <context-param>
	  	<param-name>primefaces.THEME</param-name>
	  	<param-value>arya</param-value>
  </context-param>
</web-app>
